name: Migrate all records of an event from v1 to v2 (Production)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run migration in'
        required: true
        type: choice
        default: 'staging'
        options:
          - staging
          - production
          - qa
      event:
        description: 'The event to process (birth or death)'
        required: true
        type: string
      domain:
        description: 'The environment domain (without protocol or subdomains)'
        required: true
        type: string
        default: 'farajaland.opencrvs.org'

jobs:
  migrate:
    name: Migrate ${{ github.event.inputs.event }} in ${{ github.event.inputs.environment }} (${{ github.event.inputs.domain }})
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    outputs:
      script_output: ${{ steps.deno-script.outputs.script_output }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Update apt
        run: sudo apt update

      - name: Install openconnect
        run: sudo apt install -y openconnect

      - name: Install virtualenv
        run: |
          sudo apt install virtualenvwrapper
          sudo apt install virtualenv
          virtualenv vpn-slice
          source vpn-slice/bin/activate
          pip3 install https://github.com/dlenski/vpn-slice/archive/master.zip

      - name: Connect to VPN
        run: |
          echo "${{ secrets.VPN_PWD }}" | sudo openconnect --syslog -u ${{ secrets.VPN_USER }} --passwd-on-stdin --protocol=${{ secrets.VPN_PROTOCOL }} ${{ secrets.VPN_HOST }}:${{ secrets.VPN_PORT }} --servercert ${{ secrets.VPN_SERVERCERT }} --background -v --no-dtls -s 'vpn-slice/bin/vpn-slice 10.17.0.0/24'
          sleep 3
          ip_addr=$(ip -f inet addr show tun0 |sed -En -e 's/.*inet ([0-9.]+).*/\1/p')
          sudo ip route add 10.17.30.0/24 via $ip_addr dev tun0

      - name: Test VPN connection
        run: |
          ping -c4 ${{ vars.SSH_HOST || secrets.SSH_HOST }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq
          curl -fsSL https://deno.land/install.sh | sh
          echo "$HOME/.deno/bin" >> $GITHUB_PATH

      - name: Convert notebook to TypeScript
        run: |
          mkdir -p tmp
          bash ./scripts/deno-notebook-to-deno.sh ./v1-to-v2-data-migration/migrate.ipynb ./tmp/migrate.ts

      - name: Run the script with Deno
        id: deno-script
        env:
          OPENCRVS_EVENT: ${{ github.event.inputs.event }}
          OPENCRVS_DOMAIN: ${{ github.event.inputs.domain }}
          OPENCRVS_CLIENT_ID: ${{ secrets.OPENCRVS_CLIENT_ID }}
          OPENCRVS_CLIENT_SECRET: ${{ secrets.OPENCRVS_CLIENT_SECRET }}
        run: |
          set -o pipefail
          echo "script_output<<EOF" >> $GITHUB_OUTPUT
          deno run --allow-net --allow-env ./tmp/migrate.ts | tee /dev/stderr >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Generate summary
        run: |
          echo "## Notebook result" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "${{ steps.deno-script.outputs.script_output }}" >> $GITHUB_STEP_SUMMARY
